@page "/employeedetails/{id}"
@page "/employeedetails"
@attribute [StreamRendering(true)]
@inherits EmployeeDetailsBase
<h3>EmployeeDetails</h3>
@if(employee==null)
{
    <div class="spinner"></div>
}
else
{
<div class="row justify-content-center m-3">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                <h1>@employee.FirstName @employee.LastName @coordinates</h1>
            </div>

            <div class="card-body text-center">
                <img class="card-img-top" src="@employee.PhotoPath" @onmousemove="@Mouse_Move" />
                <h4>Employee ID : @employee.EmployeeId</h4>
                <h4>Email : @employee.Email</h4>
                    <h4>Department : @(dept.DepartmentName == null ? "N/A" : dept.DepartmentName)</h4>
                <button id="buttonHide" class="btn btn-primary" @onclick="@Button_Click" >@ButtonText</button>

            </div>
            <div class="card-footer text-center @cssClass ">
                <a href="/" class="btn btn-primary">Back</a>
                <a href="@($"editEmployee/{employee.EmployeeId}")" class="btn btn-primary">Edit</a>
                <a href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>
}